<div class="forgot-password-container">
  <div class="forgot-password-box">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
      </div>

      <%= f.submit "Send reset instructions", class: "submit-btn" %>
    <% end %>

    <div class="separator-line">OR</div>

    <div class="form-group back-login-wrapper">
      <%= link_to "â† Back to Login", new_session_path(resource_name), class: "back-login-btn" %>
    </div>
  </div>
</div>
