<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Meforyou Ai" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>

  <!-- ✅ Favicon & Icons -->
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= favicon_link_tag 'favicons/favicon.ico' %>
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('favicons/apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicons/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicons/favicon-16x16.png') %>">
  <link rel="manifest" href="<%= asset_path('favicons/site.webmanifest') %>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

  <meta name="theme-color" content="#ffffff">
  <meta name="csrf-token" content="<%= form_authenticity_token %>">

  <!-- ✅ Rails Asset Pipeline -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

      <!-- Font Awesome for icons -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= javascript_importmap_tags %>
</head>

<body>
<div id="chatMetadata" data-ai-name="<%= @ai_name %>" style="display: none;"></div>
<main class="container mx-auto mt-28 px-5 flex flex-col items-center space-y-2">
      <%= render partial: 'layouts/flash_messages' %>
  <%= yield %>


</main>



</body>


</html>
